@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html, body {
  background: #0f0f0f;
  color: white;
}

#canvas-container {
   border:2px solid #ffffff;
   display: flex;
   text-align: center;
   resize:horizontal;
   max-width: 75%;
   min-width: 25%;
   margin:5% auto;
   align-items: center;
   justify-content: center;
   overflow:hidden;
}

#videoPlayBack {
   margin:0 auto;
   width: 100%;
}
