@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

html, body {
  background: #0f0f0f;
  color: white;
}

#canvas-container {
  border:2px solid gold;
  box-shadow: 0 3px 20px gold;

  aspect-ratio: 16 / 9;
  width: 60%;

  /* Allow resizing (while keeping aspect ratio) */
  resize:horizontal;
  max-width: 75%;
  min-width: 25%;

  margin:5% auto;
  overflow:hidden;
}

#videoPlayBack {
  margin:0 auto;
  /* Keep the container's aspect ratio */
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* chat section */
#chat {
  display: flex;
  margin:5% auto;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

@media (max-width: 700px){
  #chat {
    display: none;
  }
}

.chat-window {
  width: 400px;
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 3px 20px #D3A9F8;
}

.chat-area {
  height: 300px;
  overflow-y: scroll;
  padding: 20px;
}

.message {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  overflow-wrap: break-word;
}

.chat-messages {
  display: flex;
  color: black;
  flex-direction: column;
  margin-bottom: 10px;
  overflow-y: hidden;
}

.user-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

#message-input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 4px;
}

#send-button {
  background-color: #BD7EF5;
  padding: 8px 16px;
  margin-left: 10px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

#send-button:hover {
  background-color: #D3A9F8;
}
